@media (max-width: --max-width-size){
    body{
        max-width: var(--desktop-width);
        gap: 0;
    }
}

@media (max-width: 425px){
    .header{
        max-width: var(--mobile-width);
        margin: 20px 20px;
        gap: 0;
    }

    .header img{
         width: 40%;
         gap: 0;
    }
}

@media (max-width: 425px) {
    .about {
        max-width: var(--mobile-width);
        flex-wrap: wrap;
        gap: 0;
    }

    .about .image{
       max-width: var(--mobile-width);
       width: 70%;
       margin: 30px 45px;
    }

    .about .info{
       margin: 15px 15px;
       padding: 15px 15px;
       max-width: 500px;
    }

    .about .info h2{
       font-size: 3.5rem;
       text-align: center;
       max-width: 500px;
    }

    .about .info p{
        font-size: 2rem;
        text-align: center;
        max-width: 500px;
    }

    .about .btn{
        font-size: 1.5rem;
        margin: 15px auto 15px;
    }

    body{
        background: url(../images/bg-mobile.svg)  no-repeat;
        background-color: var(--primary-color);
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .footer {
      max-width: var(--mobile-width);
      justify-content: center;
      margin: 10px auto 10px;
    }

    .footer .social a{
        margin: 5px;
    }
}
